# Go and Node build files
bin/
build/
dist/

# Go modules cache
pkg/
vendor/

# Node dependencies
node_modules/

# Temp files
*.log
*.out

# Tests
coverage/
tests/
*_test.go
*.test.ts
jest.config.ts

# Env files
.env

# Git
.gitignore
.git

# IDE / OS files
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db

# Docker
Dockerfile
docker-compose*

# Specific file
gen.js