version: "3.9"

services:
  api-go:
    build: ./api-go
    ports:
      - "8080:8080"
    environment:
      NODE_API_URL: "http://api-node:3000/stats"
    depends_on:
      - api-node

  api-node:
    build: ./api-node
    ports:
      - "3000:3000"