services:
  api-go:
    build: ./api-go
    container_name: api-go
    ports:
      - "8080:8080"
    environment:
      # API-Go enviará Q y R aquí
      NODE_API_URL: "http://api-node:3000/stats"
      JWT_SECRET: "superSecretKey518485151H8t+ds*&^%$#@!"
    depends_on:
      - api-node

  api-node:
    build: ./api-node
    container_name: api-node
    ports:
      - "3000:3000"
    environment:
      JWT_SECRET: "superSecretKey518485151H8t+ds*&^%$#@!"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_GO_URL: "http://localhost:8080"
    container_name: frontend
    ports:
      - "5173:80" 
    depends_on:
      - api-go
      - api-node