services:
  api-go:
    build: ./api-go
    container_name: api-go
    ports:
      - "8080:8080"
    environment:
      # API-Go enviará Q y R aquí
      NODE_API_URL: "http://api-node:3000/stats"
    depends_on:
      - api-node

  api-node:
    build: ./api-node
    container_name: api-node
    ports:
      - "3000:3000"