# Go build files
bin/
build/
dist/

# Go modules cache
pkg/
vendor/

# Temp files
*.log
*.out

# Tests
coverage/
*_test.go

# Git
.git
.gitignore

# IDE / OS files
.vscode/
.idea/
*.swp
*.DS_Store
Thumbs.db

# Docker
Dockerfile
